* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  gap: 35px;
  background-color: black;
}

li {
  list-style: none;
  padding: 14px;
}

a {
  text-decoration: none;

}

a li {
  color: white;
}

nav a.active li {
  color: #4ade80;
}



.home-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  padding: 20px;
}

.home-content {
  text-align: center;
  max-width: 600px;
}

.home-content h1 {
  font-size: 2.5rem;
  color: #111827;
  margin-bottom: 10px;
}

.home-content h1 span {
  color: #4ade80;
}

.home-content h2 {
  font-size: 1.5rem;
  color: #374151;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1rem;
  color: #4b5563;
  margin-bottom: 25px;
  line-height: 1.6;
}



.about-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  padding: 20px;
}

.about-card {
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 30px;
}

.about-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #111827;
}

.about-card p {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #374151;
  margin-bottom: 14px;
}

.about-card strong {
  color: #4ade80; 
}



.contact-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 380px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  color: #111827;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #374151;
}

.form-group input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  font-size: 0.95rem;
}

.form-group input:focus {
  outline: none;
  border-color: #22c55e;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #22c55e; /* navbar active color */
  color: white;  
  border: none;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
}

.contact-form button:hover {
 background-color: #1a8f45;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;

  background-color: #0f0f0f;
  border-top: 1px solid #1f2933;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #9ca3af;
  font-size: 14px;
}